name = "poe-editor-proxy"
main = "src/worker.tsx"
compatibility_date = "2025-01-30"
compatibility_flags = ["nodejs_compat"]

# Rule: Treat any .wasm file as a compiled WebAssembly module
[[rules]]
type = "CompiledWasm"
globs = ["**/*.wasm"]
fallthrough = false

[build]
command = ""

[env.dev]
vars = { ENVIRONMENT = "development" }
